<div class="account-container" *ngIf="accounts.length > 0; else noAccountsTemplate">
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>

    <div class="account-container">
        <p-confirmDialog></p-confirmDialog>

        <!-- Dugme "My requests" -->
        <div class="my-requests-button">
            <button pButton type="button" (click)="navigateToRequests()" label="My Requests"></button>
        </div>

        <!-- Lista naloga -->
        <div *ngFor="let account of displayedAccounts" class="account-item">
            <p-card>
                <div class="card-content">
                    <div class="card-details">
                        <h3>Customer: {{ account.customerUsername }}</h3>
                        <p>Account Type: {{ account.accountType.name }}</p>
                        <p>Currency: {{ account.currency }}</p>
                        <h5 *ngIf="account.isClosed">Status: Closed</h5>
                        <h5 *ngIf="!account.isClosed">Status: Active</h5>
                    </div>
                    <div *ngIf="!account.isClosed">
                        <button pButton type="button" icon="pi pi-power-off" class="p-button-warning"
                            label="Close An Account" (click)="confirmCloseAccount(account.id)"></button>
                    </div>
                </div>
            </p-card>
        </div>

        <!-- Paginator -->
        <p-paginator [rows]="rowsPerPage" [totalRecords]="totalAccounts"
            (onPageChange)="onPageChange($event)"></p-paginator>
    </div>
</div>

<ng-template #noAccountsTemplate>
    <div class="no-accounts-message">
        <p>No approved account yet.</p>
        <div>
            <button pButton type="button" (click)="navigateToAccountTypes()"
                label="Make A Request"></button>
            <button pButton type="button" (click)="navigateToRequests()" label="My Requests"></button>
        </div>
    </div>
</ng-template>

<div class="error-message" *ngIf="loadingError">
    <p>Loading failed. Please try again.</p>
    <button pButton type="button" (click)="reloadAccounts()" label="Refresh"></button>
</div>