<div style="margin-top: 20px;">
    <p-table [value]="displayedExchangeRates" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem'}">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    DATE: {{currentDate}}
                </div>
                <div>
                    <button pButton pRipple type="button" icon="pi pi-refresh"
                        class="p-button-rounded p-button-info p-button-outlined" (click)="refresh()">
                    </button>
                </div>
            </div>
        </ng-template>
        
        <ng-template pTemplate="header">
            <tr>
                <th>#</th>
                <th>Currency</th>
                <th>Value</th>
                <th>RSD</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-displayExchangeRates>
            <tr>
                <td><b>{{ displayExchangeRates.id + 1 }}</b></td>
                <td>{{ displayExchangeRates.currency }}</td>
                <td>1</td>
                <td>{{ displayExchangeRates.rate }}</td>
            </tr>
        </ng-template>
    </p-table>

    <p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
</div>