<div class="loan-application-page">
    <h2>Make A Request for: <b>{{ loanType?.name }}</b></h2>
    <div class="loan-details">
        <p>Interest Rate: <b>{{ loanType?.interestRate }}%</b></p>
        <p>Description: <b>{{ loanType?.description }}</b></p>
    </div>
    <div class="loan-request-form">
        <label for="installments">Number of Payments:</label>
        <p-dropdown [options]="installmentOptions" [(ngModel)]="selectedInstallments"
            (onChange)="calculateMonthlyPayment()"></p-dropdown>
        <br />
        <label for="amount">Amount:</label>
        <br />
        <p-slider [(ngModel)]="loanAmount" [min]="500" [max]="20000" [step]="100"
            (onChange)="calculateMonthlyPayment()"></p-slider>
        <br />
        <p>{{ loanAmount | currency:'EUR' }}</p>
        <p class="monthly-payment">Monthly Payment: {{ monthlyPayment | currency:'EUR' }}</p>
        <button pButton type="button" label="Confirm" (click)="submitLoanRequest()"></button>
    </div>
</div>