ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
  
button {
    background: none;
    border: none;
    cursor: pointer;
}