<div class="user-appointments-container">
    <h2>Scheduled Appointments</h2>

    <div *ngFor="let appointment of displayedappointments" class="appointment-card">
        <p-card>
            <div class="appointment-date">
                Date: {{ appointment.appointmentDate | date:'fullDate' }}
            </div>
            Time: {{ appointment.appointmentDate | date:'shortTime' }}
            <div>Branch: {{ appointment.branch.name }}</div>
            <div>Address: {{ appointment.branch.address }}</div>
            <!-- Dodajte ostale informacije o filijali ili terminu ako je potrebno -->
        </p-card>
    </div>

    <p-paginator [rows]="rowsPerPage" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"></p-paginator>
</div>